<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eccentric.tranding.mappers.GoodMapper">

    <select id="getAllGood" resultType="com.eccentric.tranding.pojo.Good">
        select * from goods where concat(good_name,description) like "%"#{keyword}"%" limit #{num},#{size}
    </select>

    <select id="getTotal" resultType="integer">
        select count(*) from goods where concat(good_name,description) like "%"#{keyword}"%"
    </select>

    <insert id="addGood">
        insert into goods values(#{goodId},#{goodName},#{price},#{userId},#{payType},#{description},#{goodImg},#{categoryId},#{status},#{createTime})
    </insert>


    <delete id="deleteByBatchIds">
        delete from goods where good_id in
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>


    <update id="updateGood">
        update goods set
                        good_name=#{goodName},
                        price=#{price},
                        user_id=#{userId},
                        description=#{description},
                        pay_type=#{payType},
                        good_img=#{goodImg},
                        category_id=#{categoryId},
                        status=#{status}
        where good_id = #{goodId}
    </update>


    <select id="getAllGoodOnSale" resultType="com.eccentric.tranding.pojo.Good">
        select * from goods where concat(good_name,description) like "%"#{keyword}"%" and status = 1 limit #{num},#{size}
    </select>

    <select id="getTotalOnSale" resultType="integer">
        select count(*) from goods where concat(good_name,description) like "%"#{keyword}"%" and status = 1
    </select>

</mapper>
