<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eccentric.tranding.mappers.OrderMapper">

    <insert id="addOrder">
        insert into orders values(#{orderId},#{goodId},#{userId},#{status},#{rate},#{createTime},#{updateTime})
    </insert>

    <select id="getAllOrders" resultType="com.eccentric.tranding.pojo.Order">
        select orders.*,goods.good_name,saleUser.username as saleUsername,buyUser.username as buyUsername,goods.user_id as sale_user_id from orders left join goods on orders.good_id = goods.good_id
                 left join user as buyUser on orders.user_id = buyUser.user_id left join user as saleUser on goods.user_id=saleUser.user_id
            where concat(saleUser.username,buyUser.username,goods.good_name) like "%"#{keyword}"%" limit #{num},#{size}
    </select>

    <select id="getTotal" resultType="integer">
        select count(*) from orders left join goods on orders.good_id = goods.good_id
                left join user as buyUser on orders.user_id = buyUser.user_id left join user as saleUser on goods.user_id=saleUser.user_id
        where concat(saleUser.username,buyUser.username,goods.good_name) like "%"#{keyword}"%"
    </select>

    <delete id="deleteByBatchIds">
        delete from orders where order_id in
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>


    <select id="getAllOrderByActionUser" resultType="com.eccentric.tranding.pojo.Order">
        select orders.*,goods.good_name,saleUser.username as saleUsername,buyUser.username as buyUsername,goods.user_id as sale_user_id
        from orders left join goods on orders.good_id = goods.good_id
            left join user as buyUser on orders.user_id = buyUser.user_id
            left join user as saleUser on goods.user_id=saleUser.user_id
        where concat(saleUser.username,goods.good_name) like "%"#{keyword}"%" and orders.user_id = #{actionUserId}
        limit #{num},#{size}
    </select>

    <select id="getTotalByActionUser" resultType="integer">
        select count(*) from orders left join goods on orders.good_id = goods.good_id
                                    left join user as buyUser on orders.user_id = buyUser.user_id left join user as saleUser on goods.user_id=saleUser.user_id
        where concat(saleUser.username,goods.good_name) like "%"#{keyword}"%" and orders.user_id = #{actionUserId}
    </select>
</mapper>
