<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eccentric.tranding.mappers.UserMapper">
<!--    public List<User> getAllUserPage(@Param("pageNum") Integer pageNum,@Param("pageSize") Integer pageSize,@Param("keyword") String keyword);-->
    <select id="getAllUserPage" resultType="com.eccentric.tranding.pojo.User">
        select * from user where concat(username,phone) like "%"#{keyword}"%" limit #{pageNum},#{pageSize}
    </select>


<!--public Integer insertUser(User user);-->
    <insert id="insertUser">
        insert into
            user(user_id,username,phone,password,gender,role_id,avatar,create_time,update_time,status)
        values(#{userId},#{username},#{phone},#{password},#{gender},#{roleId},#{avatar},#{createTime},#{updateTime},#{status})
    </insert>

<!--public Integer updateUser(User user);-->
    <update id="updateUser">
        update user set
            username=#{username},
            phone=#{phone},
            gender=#{gender},
            role_id=#{roleId},
            avatar=#{avatar},
            update_time=#{updateTime},
            status=#{status}
        where user_id = #{userId}
    </update>


<!--public Integer deleteByIds(@Param("idList") List<Integer> idList);-->
    <delete id="deleteByIds">
        delete from user where user_id in 
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
