<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eccentric.tranding.mappers.UserMapper">

    <insert id="insertUser">
        insert into
            user(username,phone,password,gender,role_id,avatar,create_time,update_time,status)
        values(#{username},#{phone},#{password},#{gender},#{roleId},#{avatar},#{createTime},#{updateTime},#{status})
    </insert>

</mapper>
